<main id="main">
    <div class="sidebar p-grid p-fluid">
        <div class="header">
            <img src="assets/logo.png" />
            <h1>Telescope</h1>
        </div>
        <div class="controls">
            <button pButton type="button" label="Edit" icon="pi pi-pencil" (click)="edit()"></button>
            <p-splitButton label="Download Brightness Curve" icon="pi pi-download" (onClick)="save(calculateOptions.CSV)" [model]="downloadItems"></p-splitButton>
        </div>
        <div class="draw">
            <h2>Chart</h2>
            <div class="dataset">
                <p-colorPicker [(ngModel)]="average.color"></p-colorPicker>
                <p-toggleButton onLabel="Hide Average" offLabel="Show Average" [(ngModel)]="average.show" (onChange)="update($event)"></p-toggleButton>
            </div>
            <div class="dataset">
                <p-colorPicker [(ngModel)]="median.color"></p-colorPicker>
                <p-toggleButton onLabel="Hide Median" offLabel="Show Median" [(ngModel)]="median.show" (onChange)="update($event)"></p-toggleButton>
            </div>
            <div class="dataset">
                <p-colorPicker [(ngModel)]="minimum.color"></p-colorPicker>
                <p-toggleButton onLabel="Hide Minimum" offLabel="Show Minimum" [(ngModel)]="minimum.show" (onChange)="update($event)"></p-toggleButton>
            </div>
            <div class="dataset">
                <p-colorPicker [(ngModel)]="maximum.color"></p-colorPicker>
                <p-toggleButton onLabel="Hide Maximum" offLabel="Show Maximum" [(ngModel)]="maximum.show" (onChange)="update($event)"></p-toggleButton>
            </div>
        </div>
    </div>
    <div class="content">
        <p-chart type="line" [data]="data" height="100vh"></p-chart>
    </div>
</main>