/* You can add global styles to this file, and also import other style files */
html {
    color: #E7E8EB;
    background: #363945;
}

body {
    color: #E7E8EB;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
    font-size: 25pt;
    font-weight: bold;
}

h2 {
    font-size: 14pt;
}